//$body-bg: #ababab;
//
//.first-test {
//  color: #aaf;
//}
//
//// Include Bootstrap and BootstrapVue SCSS files
//@import '~bootstrap/scss/bootstrap.scss';
//@import '~bootstrap-vue/src/index.scss';

body {
  font-family: 'Montserrat', sans-serif;
}

.big-note-divider {
  margin: 5rem 0;
}

.big-note-row {
  h2 {
    margin-top: 7rem;
  }
}
